body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: inline-block;
  max-width: 100%;
}

.body {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family: Rubik, sans-serif;
  color: #000;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.links-2 {
  display: block;
  overflow: visible;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 30px;
  padding: 10px 15px;
  float: right;
  font-family: 'Dinnextltpro Condensed';
  color: #282a30;
  font-size: 15px;
  line-height: 15px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.links-2:hover {
  color: #4e525c;
}

.s-header {
  height: 630px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: #000;
}

.s-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 30px 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Rubik, sans-serif;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.s-logo {
  display: inline;
  padding: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.s-title {
  position: relative;
  margin-top: 0px;
  padding-right: 25%;
  font-family: Rubik, sans-serif;
  color: #000;
  font-size: 34px;
  line-height: 48px;
  font-weight: 400;
}

.s-title.s-title-about {
  padding-right: 12%;
  font-size: 28px;
  line-height: 40px;
}

.s-title-box {
  position: static;
  top: 50%;
  display: block;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 210px;
  padding-right: 30px;
  padding-left: 30px;
}

.s-image-over {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin-top: -200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.s-image-over.s-image-about {
  display: block;
  margin-top: -300px;
}

.s-image-one {
  position: static;
  max-height: 300px;
  margin-right: 15px;
  margin-left: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/first.jpg');
  background-position: 50% 0px;
  background-size: 505px;
  line-height: 0px;
}

.s-image-two {
  max-height: 300px;
  max-width: 1070px;
  margin-right: 30px;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/second.jpg');
  background-position: 0px 0px;
  background-size: 505px;
  line-height: 0px;
}

.s-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Rubik, sans-serif;
  color: #000;
}

.s-description {
  margin-bottom: 0px;
  padding-right: 22%;
  padding-left: 30px;
  font-family: Rubik, sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 40px;
}

.s-description.s-description-about {
  color: #000;
  font-size: 22px;
  line-height: 32px;
}

.s-work-title {
  margin-top: 105px;
  padding-left: 30px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.s-clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 65px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 20px;
  line-height: 26px;
}

.s-client-box {
  display: block;
  overflow: visible;
  margin-bottom: 45px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33%;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
}

.s-client-name {
  font-family: Rubik, sans-serif;
  color: #000;
  text-decoration: none;
}

.s-client-subtitle {
  margin-top: 5px;
  font-family: Rubik, sans-serif;
  color: #a9acaf;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.s-animation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin-top: -40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 0px;
}

.s-footer {
  display: block;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 140px;
  padding-left: 30px;
  font-family: Rubik, sans-serif;
  font-size: 28px;
  line-height: 40px;
}

.s-contact-image {
  background-color: transparent;
  color: #fff;
}

.s-contact-image:hover {
  opacity: 1;
}

.s-link-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-bottom: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Rubik, sans-serif;
}

.s-social-link {
  margin-right: 25px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: uppercase;
}

.heading {
  display: inline;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: Rubik, sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}

.heading.linkheading {
  margin-right: 8px;
}

.div-block {
  margin-top: 130px;
}

.s-cta-talk {
  margin-left: 0px;
  font-family: Rubik, sans-serif;
  color: #a8a8a8;
  font-weight: 300;
  text-decoration: none;
}

.s-header2 {
  height: 150px;
  background-image: -webkit-linear-gradient(270deg, hsla(180, 6%, 81%, .15), hsla(0, 0%, 100%, .15));
  background-image: linear-gradient(180deg, hsla(180, 6%, 81%, .15), hsla(0, 0%, 100%, .15));
}

.s-header2.s-header2-about {
  margin-top: 100px;
}

.html-embed {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0px;
}

.html-embed-2 {
  width: 100%;
  height: 100%;
}

.html-embed-3 {
  display: block;
  width: 100%;
}

.div-block-2 {
  height: 267px;
  max-width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/Image1_1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.div-block-3 {
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
}

.div-block-3.left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-4 {
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, rgba(102, 41, 41, .5), rgba(102, 41, 41, .5));
  background-image: linear-gradient(180deg, rgba(102, 41, 41, .5), rgba(102, 41, 41, .5));
}

.div-block-5 {
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
}

.image {
  width: 100%;
}

.image-2 {
  width: 100%;
}

.image-3 {
  width: 100%;
}

.div-block-6 {
  display: none;
}

.div-block-7 {
  display: none;
}

.link-block {
  text-decoration: none;
}

.link-block-2 {
  text-decoration: none;
}

.link-block-3 {
  text-decoration: none;
}

.link-block-4 {
  text-decoration: none;
}

.link-block-5 {
  text-decoration: none;
}

.link-block-6 {
  margin-right: 35px;
  text-decoration: none;
}

.link-block-6.w--current {
  margin-right: 35px;
}

.div-block-8 {
  position: relative;
  display: inline;
}

.div-block-9 {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: -5px;
  width: 207px;
  height: 3px;
  border-radius: 1.5px;
  background-image: -webkit-linear-gradient(270deg, #e3938b, #e3938b);
  background-image: linear-gradient(180deg, #e3938b, #e3938b);
}

.link-block-7 {
  display: inline;
  color: #000;
  text-decoration: none;
}

.image-about {
  padding-right: 30px;
  padding-left: 30px;
}

.grid {
  margin-top: 80px;
  padding-right: 30px;
  padding-left: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

.s-about-title {
  margin-bottom: 32px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.s-description-main {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-about {
  display: inline;
  padding: 5px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.s-home {
  padding: 5px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-8 {
  margin-right: 35px;
  text-decoration: none;
}

.div-block-12 {
  margin-top: 75px;
  padding-right: 30px;
  padding-left: 30px;
}

.quote {
  margin-bottom: 20px;
  padding-right: 43%;
  font-size: 19px;
  line-height: 29px;
  font-style: italic;
}

.person {
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 991px) {
  .s-header {
    height: 500px;
  }
  .s-menu {
    padding-right: 35px;
    padding-left: 35px;
  }
  .s-title {
    padding-right: 20%;
    font-size: 32px;
  }
  .s-title-box {
    padding-top: 120px;
    padding-right: 35px;
    padding-left: 35px;
  }
  .s-image-over.s-image-about {
    display: inline-block;
  }
  .s-image-one {
    height: auto;
    margin-left: 35px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .s-image-two {
    height: auto;
    max-height: 300px;
    margin-right: 35px;
    background-size: cover;
  }
  .s-content {
    margin-top: 80px;
  }
  .s-description {
    padding-right: 15%;
    padding-left: 35px;
  }
  .s-description.s-description-about {
    padding-right: 10%;
    padding-left: 35px;
  }
  .s-work-title {
    margin-top: 80px;
    padding-left: 35px;
  }
  .s-clients {
    margin-bottom: 50px;
  }
  .s-client-box {
    padding-right: 35px;
    padding-left: 35px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .s-animation {
    padding-right: 35px;
    padding-left: 35px;
  }
  .s-footer {
    padding-right: 35px;
    padding-bottom: 105px;
    padding-left: 35px;
  }
  .heading {
    font-size: 24px;
  }
  .heading.linkheading {
    font-size: 24px;
  }
  .div-block {
    margin-top: 110px;
  }
  .html-embed {
    width: 100%;
    height: 100%;
  }
  .div-block-3.left {
    margin-left: 5px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-block-4 {
    background-image: none;
  }
  .div-block-5.right {
    margin-right: 5px;
  }
  .div-block-9 {
    width: 178px;
  }
  .image-about {
    display: block;
    margin-top: 40px;
    padding-right: 35px;
    padding-left: 35px;
  }
  .grid {
    padding-right: 35px;
    padding-left: 35px;
  }
  .s-description-main {
    font-size: 18px;
  }
  .div-block-12 {
    padding-right: 35px;
    padding-left: 35px;
  }
  .quote {
    padding-right: 25%;
  }
}

@media (max-width: 767px) {
  .s-header {
    height: auto;
  }
  .s-title {
    margin-bottom: 50px;
    padding-right: 10%;
  }
  .s-title.s-title-about {
    font-size: 22px;
    line-height: 32px;
  }
  .s-title-box {
    padding-top: 100px;
  }
  .s-image-over {
    display: none;
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s-image-over.s-image-about {
    margin-top: -40px;
    padding-top: 0px;
  }
  .s-image-one {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .s-image-two {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .s-content {
    margin-top: 90px;
  }
  .s-description.s-description-about {
    font-size: 20px;
  }
  .s-clients {
    margin-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .s-animation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .s-header2 {
    display: none;
  }
  .html-embed {
    position: relative;
    line-height: 0px;
  }
  .div-block-3.left {
    margin-top: 50px;
    margin-right: 5px;
    margin-bottom: 35px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .div-block-4 {
    margin-right: 5px;
    margin-bottom: 35px;
    margin-left: 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .div-block-5.right {
    margin-right: 5px;
    margin-left: 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .image {
    width: 100%;
  }
  .image-2 {
    width: 100%;
  }
  .image-3 {
    width: 100%;
  }
  .div-block-6 {
    position: relative;
    display: block;
    height: 100%;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    background-image: url('../images/second.jpg');
    background-position: 50% 50%;
    background-size: 505px;
    background-repeat: no-repeat;
    line-height: 0px;
  }
  .html-embed-4 {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/first.jpg');
    background-position: 0px 0px;
    background-size: 505px;
    line-height: 0px;
  }
  .div-block-7 {
    display: block;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    background-image: url('../images/second.jpg');
    background-position: 0px 0px;
    background-size: 505px;
  }
  .image-about {
    padding-right: 0px;
    padding-left: 0px;
  }
  .grid {
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-row-gap: 16px;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: auto auto auto auto auto auto minmax(16px, 1fr);
  }
  .div-block-12 {
    margin-bottom: 75px;
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (max-width: 479px) {
  .links-2 {
    display: none;
  }
  .s-title {
    font-size: 24px;
    line-height: 34px;
  }
  .s-title.s-title-about {
    padding-right: 8%;
    font-size: 18px;
    line-height: 26px;
  }
  .s-title-box {
    padding-top: 60px;
  }
  .s-content {
    margin-top: 50px;
  }
  .s-description {
    font-size: 20px;
    line-height: 32px;
  }
  .s-description.s-description-about {
    font-size: 18px;
    line-height: 26px;
  }
  .s-work-title {
    margin-top: 70px;
  }
  .s-clients {
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .s-client-box {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .s-footer {
    padding-bottom: 73px;
  }
  .heading {
    font-size: 17px;
    line-height: 26px;
  }
  .heading.linkheading {
    margin-right: 4px;
    font-size: 17px;
  }
  .div-block {
    display: block;
    margin-top: 80px;
    padding-right: 16%;
    font-size: 22px;
    line-height: 34px;
  }
  .s-cta-talk {
    display: inline;
  }
  .div-block-6 {
    background-image: url('../images/first.jpg');
    background-position: 0px 0px;
    background-size: 505px;
    background-attachment: fixed;
  }
  .div-block-7 {
    height: 100%;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    line-height: 0px;
  }
  .link-block-6 {
    margin-right: 20px;
  }
  .div-block-9 {
    left: 0px;
    width: 126px;
  }
  .grid {
    margin-top: 55px;
    grid-template-columns: auto;
  }
  .link-block-8 {
    margin-right: 25px;
  }
  .div-block-12 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .quote {
    padding-right: 5%;
    font-size: 17px;
  }
  .grid-2 {
    margin-top: 10px;
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  }
  .text-block {
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
  .text-block-2 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 26px;
  }
  .text-block-3 {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
  .grid2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-block-4 {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 26px;
  }
}

