.body {
  overflow: visible;
  clear: none;
  font-family: Rubik, sans-serif;
}

.heading-3 {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #496174;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}

.text-block {
  color: #2062ef;
  font-size: 17px;
  font-weight: 500;
}

.paragraph {
  margin-bottom: 16px;
  color: #496174;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
}

.paragraph.subheader {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.paragraph.midalign {
  margin-top: 13px;
  text-align: center;
}

.paragraph.paragraph-middle {
  text-align: center;
}

.paragraph.subheader1 {
  margin-bottom: 50px;
  text-align: center;
}

.section3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-width: 1170px;
  margin: 100px auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  padding-right: 120px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.div-block-2 {
  position: relative;
  overflow: visible;
  width: 750px;
  height: 400px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-4 {
  margin-bottom: 17px;
  color: #496174;
  font-size: 17px;
  line-height: 38px;
  font-weight: 500;
}

.heading-4.features {
  position: static;
  margin-bottom: 0px;
  line-height: 24px;
  text-align: center;
}

.div-block-3 {
  width: 750px;
  height: 400px;
}

.html-embed {
  position: absolute;
  left: 30px;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  left: 10px;
  width: 750px;
  height: 400px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 19px;
  background-image: -webkit-linear-gradient(270deg, #e9ecff, #e9ecff);
  background-image: linear-gradient(180deg, #e9ecff, #e9ecff);
}

.text-block-2 {
  padding: 8px 20px;
  color: #2062ef;
  font-size: 13px;
  font-weight: 500;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.paragraph-2 {
  margin-bottom: 0px;
  margin-left: 16px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.image-2 {
  position: absolute;
  left: 30px;
}

.link-block {
  position: static;
  display: inline-block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 19px;
  background-image: -webkit-linear-gradient(270deg, #e9ecff, #e9ecff);
  background-image: linear-gradient(180deg, #e9ecff, #e9ecff);
  text-decoration: none;
}

.bruh {
  display: block;
  width: 1170px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-7 {
  position: relative;
  margin-left: 0px;
  padding-right: 50px;
  padding-left: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.div-block-8 {
  position: relative;
  width: 750px;
  margin-right: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.image-3 {
  width: 100%;
  height: 100%;
}

.embed2 {
  position: relative;
  right: 30px;
}

.medium {
  font-weight: 500;
}

.button-3--4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  height: 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 19px;
  background-image: -webkit-linear-gradient(270deg, #e9ecff, #e9ecff);
  background-image: linear-gradient(180deg, #e9ecff, #e9ecff);
}

.header {
  display: block;
  height: 540px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  background-image: -webkit-linear-gradient(251deg, #147bbe, #2944ff);
  background-image: linear-gradient(199deg, #147bbe, #2944ff);
  font-size: 17px;
  font-weight: 500;
}

.div-block-9 {
  overflow: hidden;
}

.section1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0px auto 100px;
  padding-top: 60px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 100px auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 19px;
  background-image: -webkit-linear-gradient(270deg, #e9ecff, #e9ecff);
  background-image: linear-gradient(180deg, #e9ecff, #e9ecff);
}

.button-3-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 19px;
  background-image: -webkit-linear-gradient(270deg, #e9ecff, #e9ecff);
  background-image: linear-gradient(180deg, #e9ecff, #e9ecff);
}

.heading-5 {
  display: block;
  max-width: 700px;
  margin: 0px auto 16px;
  padding: 0px 80px;
  color: #496174;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
}

.paragraph-3 {
  display: block;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  color: #496174;
  text-align: center;
}

.about {
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.feature1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph-4 {
  text-align: center;
}

.paragraph-5 {
  text-align: center;
}

.paragraph-6 {
  text-align: center;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-top: 0px;
  color: #fff;
  font-size: 46px;
  line-height: 58px;
  font-weight: 500;
}

.heading-7 {
  margin-bottom: 45px;
  color: hsla(0, 0%, 100%, .75);
  font-size: 17px;
  font-weight: 400;
}

.main-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 45px;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 22.5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.text-block-3 {
  color: #2553f7;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 13px;
}

.div-block-12 {
  padding-right: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.div-block-13 {
  position: relative;
  margin-left: 30px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 120px auto 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.link1 {
  position: static;
  display: inline;
  margin-right: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
}

.link1.tryit {
  margin-right: 0px;
}

.links {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-4 {
  display: inline-block;
  margin-top: -10px;
}

.secondary-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 38px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 2px solid #fff;
  border-radius: 19px;
}

.text-block-4 {
  margin-bottom: 7px;
  padding-top: 0px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.text-block-4.twolink {
  color: hsla(0, 0%, 100%, .41);
}

.image-5 {
  position: relative;
}

.image-6 {
  position: absolute;
  left: 11.4%;
  top: 6.3%;
  z-index: 1;
  display: none;
  overflow: visible;
  height: 87.5%;
  max-width: 77.5%;
}

.tooltip {
  position: absolute;
  left: 13%;
  bottom: 9.5%;
  z-index: 2;
  max-width: 20%;
}

.image-7 {
  position: absolute;
  left: 290px;
  bottom: 0px;
  z-index: 3;
}

.image-8 {
  position: relative;
  margin-left: 93px;
}

.image-9 {
  position: absolute;
  left: 109px;
  top: 56px;
  z-index: 2;
}

.image-10 {
  position: absolute;
  left: 302px;
  bottom: 47px;
  z-index: 5;
}

.image-11 {
  position: absolute;
  left: 308px;
  bottom: 53px;
  z-index: 6;
  display: block;
}

.div-block-14 {
  width: 880px;
  height: 510px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.link-block-2 {
  text-decoration: none;
}

.link-block-3 {
  text-align: right;
  text-decoration: none;
}

.pricing {
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 70px;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 50px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(270deg, #f5f5f8, #f5f5f8);
  background-image: linear-gradient(180deg, #f5f5f8, #f5f5f8);
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.text-block-5 {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #496174;
  font-size: 42px;
  line-height: 38px;
  font-weight: 400;
}

.text-block-6 {
  margin-top: 10px;
  margin-bottom: 50px;
  color: #496174;
  font-size: 42px;
  line-height: 38px;
}

.normal-pricing {
  position: static;
  display: block;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #496174;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
}

.pro-pricing {
  margin-bottom: 20px;
  color: #2553f7;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 45px;
  margin-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 22.5px;
  background-image: -webkit-linear-gradient(270deg, #2553f7, #2553f7);
  background-image: linear-gradient(180deg, #2553f7, #2553f7);
  text-decoration: none;
}

.text-block-7 {
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.text-block-8 {
  color: #2553f7;
  font-size: 17px;
  line-height: 38px;
  font-weight: 500;
}

.top-pricing {
  color: #2553f7;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}

.link-block-4 {
  text-decoration: none;
}

.link-block-5 {
  display: block;
  margin-right: auto;
  margin-bottom: 105px;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
}

.link-block-5.pricing-button {
  margin-bottom: 0px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, #393c4d, #282b3a);
  background-image: linear-gradient(180deg, #393c4d, #282b3a);
}

.div-block-18 {
  display: block;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 85px;
  padding-right: 15px;
  padding-left: 15px;
}

.text-block-9 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 12px;
  text-align: left;
}

.bottom-footer {
  position: static;
  left: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-12 {
  margin-left: 0px;
}

.image-13 {
  margin-left: 0px;
}

.div-block-19 {
  margin-bottom: -30px;
  padding-top: 0px;
  text-align: right;
}

.testimonials {
  margin-bottom: 90px;
  padding-top: 45px;
}

.tabs {
  display: block;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 14px;
  padding-left: 15px;
}

.tab-link-tab-1 {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  opacity: 0.5;
}

.tab-link-tab-1.w--current {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  opacity: 1;
  text-align: center;
}

.image-15 {
  display: block;
  overflow: visible;
  max-width: 100%;
  opacity: 1;
}

.text-block-10 {
  display: block;
  max-width: 900px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  color: #496174;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  text-align: center;
}

.tabs-menu {
  display: block;
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  text-align: center;
}

.tab-link-tab-2 {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  opacity: 0.5;
}

.tab-link-tab-2.w--current {
  opacity: 1;
}

.tab-link-tab-3 {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  opacity: 0.5;
}

.tab-link-tab-3.w--current {
  opacity: 1;
}

.image-17 {
  margin-right: 0px;
  margin-left: 0px;
  opacity: 0.5;
}

.navigation-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 45px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-blok {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.text-block-11 {
  margin-bottom: 8px;
  color: #496174;
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}

.text-block-12 {
  color: #496174;
  font-size: 15px;
  text-align: center;
}

.div-block-20 {
  height: 200px;
  background-image: -webkit-linear-gradient(270deg, #f5f5f8, #fff);
  background-image: linear-gradient(180deg, #f5f5f8, #fff);
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-8 {
  display: block;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  color: #496174;
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
}

.div-block-22 {
  margin-bottom: 20px;
}

.div-block-23 {
  margin-bottom: 20px;
}

.image16 {
  opacity: 0.5;
}

.image15 {
  opacity: 1;
}

.link-1 {
  text-decoration: none;
}

.div-block-24 {
  margin-bottom: -30px;
}

.link-block-6 {
  text-align: right;
  text-decoration: none;
}

.link-block-7 {
  margin-left: 20px;
}

.link-block-8 {
  margin-left: 20px;
}

.heading-9 {
  display: block;
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
  color: #496174;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
}

.heading-10 {
  display: block;
  max-width: 700px;
  margin-top: -70px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
  color: #496174;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 10;
  display: block;
  overflow: visible;
  padding-right: 15px;
  padding-left: 15px;
  background-image: -webkit-linear-gradient(270deg, #2553f7, #2553f7);
  background-image: linear-gradient(180deg, #2553f7, #2553f7);
}

.sticky-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-9 {
  margin-right: 60px;
}

.link-block-10 {
  margin-right: 60px;
}

.link-block-11 {
  margin-right: 60px;
}

.div-1-mobile-hor {
  display: none;
}

.overlaymenu {
  display: none;
}

.linksbottom {
  margin-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-25 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.link-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  text-decoration: none;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 19px;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 100px auto;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.logo-bottom {
  margin-top: -4px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-13 {
  border-style: none;
  color: #fff;
  text-decoration: none;
}

.text-block-14 {
  color: hsla(0, 0%, 100%, .43);
  text-decoration: none;
}

.link-block-16 {
  text-align: right;
  text-decoration: none;
}

.screen {
  position: absolute;
  left: 11.4%;
  top: 6.3%;
  z-index: 1;
  height: 87.5%;
  max-width: 77.5%;
  background-image: -webkit-linear-gradient(270deg, #496174, #496174);
  background-image: linear-gradient(180deg, #496174, #496174);
}

@media (max-width: 991px) {
  .paragraph.subheader1 {
    display: block;
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
  .section3 {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .div-block {
    padding-right: 2%;
  }
  .div-block-2 {
    display: block;
    max-width: 75%;
  }
  .heading-4.features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .section4 {
    padding-right: 25px;
    padding-left: 25px;
  }
  .div-block-7 {
    padding-right: 2%;
  }
  .embed2 {
    position: absolute;
    left: 10px;
    top: 0px;
    right: auto;
    bottom: 0px;
  }
  .header {
    padding-right: 25px;
    padding-left: 25px;
  }
  .section1 {
    margin-bottom: 80px;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .section2 {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .about {
    margin-top: 260px;
    padding-right: 25px;
    padding-left: 25px;
  }
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature1 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .heading-6 {
    max-width: 85%;
    margin-top: -10px;
    font-size: 46px;
    line-height: 58px;
    text-align: center;
  }
  .heading-7 {
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
  }
  .main-button {
    margin-top: 0px;
    text-align: left;
  }
  .div-block-11 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-basis: 55%;
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
  }
  .div-block-13 {
    display: block;
    max-width: 800px;
    margin-top: 63px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    clear: left;
  }
  .link1 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .link1.tryit {
    margin-left: 0px;
    text-align: center;
  }
  .text-block-4 {
    margin-bottom: 0px;
  }
  .image-6 {
    position: absolute;
    left: 11.4%;
    display: block;
    max-width: 77.2%;
  }
  .image-7 {
    left: 42%;
  }
  .image-8 {
    margin-left: 43px;
  }
  .image-9 {
    left: 59px;
  }
  .image-10 {
    left: 45.4%;
  }
  .image-11 {
    left: 47%;
  }
  .div-block-14 {
    position: relative;
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .link-block-2 {
    display: inline-block;
    margin-top: 5px;
  }
  .pricing {
    margin-bottom: 0px;
  }
  .div-block-15.free-pricing {
    margin-left: 30px;
  }
  .div-block-15._10-pricing {
    margin-right: 30px;
  }
  .div-block-16 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .link-block-5 {
    margin-bottom: 65px;
  }
  .bottom-footer {
    margin-top: 28px;
  }
  .testimonials {
    margin-bottom: 70px;
  }
  .navigation-top {
    padding-top: 35px;
  }
  .heading-8 {
    margin-top: 30px;
  }
  .div-block-24 {
    margin-bottom: 0px;
  }
  .heading-10 {
    margin-top: -130px;
  }
  .navbar {
    display: block;
    padding-right: 25px;
    padding-left: 25px;
  }
  .link-block-9.w--current {
    margin-right: 40px;
  }
  .tabs-content {
    padding-right: 25px;
    padding-left: 25px;
  }
  .div-1-mobile-hor {
    display: none;
  }
  .overlaymenu {
    display: none;
  }
  .linksbottom {
    display: block;
    margin-top: 47px;
    margin-bottom: 27px;
    margin-left: 0px;
  }
  .link-block-14 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .div-block-26 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .div-block-31 {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .image-20 {
    display: block;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
  }
  .div-block-32 {
    display: block;
    margin-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .div-block-33 {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .logo-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .link-block-16 {
    display: none;
  }
  .fake-button {
    display: none;
  }
}

@media (max-width: 767px) {
  .paragraph {
    text-align: left;
  }
  .paragraph.subheader1 {
    padding-right: 25px;
    padding-left: 25px;
  }
  .section3 {
    margin-bottom: 60px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block {
    margin-bottom: 24px;
    padding-right: 10%;
  }
  .div-block-2 {
    position: relative;
    display: none;
    max-height: 400px;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .heading-4.features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .html-embed {
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .section4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .div-block-7 {
    margin-bottom: 35px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-8 {
    position: relative;
    margin-top: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .header {
    height: auto;
    padding-bottom: 25px;
  }
  .section1 {
    margin-bottom: 60px;
    padding-top: 40px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section2 {
    margin-top: 60px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .about {
    margin-top: 0px;
  }
  .features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .feature1 {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 50%;
    -ms-flex: 0 50%;
    flex: 0 50%;
  }
  .heading-6 {
    display: block;
    font-size: 38px;
    line-height: 48px;
  }
  .heading-7 {
    margin-top: -2px;
  }
  .div-block-13 {
    margin-top: 35px;
  }
  .navigation {
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link1 {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14px;
  }
  .link1.link-last {
    margin-right: 30px;
  }
  .link1.tryit {
    display: block;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .links {
    display: none;
  }
  .image-4 {
    margin-top: 0px;
  }
  .secondary-cta {
    width: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tooltip {
    max-width: 25%;
  }
  .image-7 {
    left: 220px;
  }
  .image-8 {
    display: inline-block;
  }
  .image-9 {
    left: 59px;
  }
  .image-10 {
    left: 232px;
  }
  .image-11 {
    left: 238px;
  }
  .div-block-14 {
    display: none;
  }
  .link-block-3 {
    display: block;
    margin-right: 30px;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-15.free-pricing {
    margin-bottom: 30px;
    margin-left: 15px;
  }
  .div-block-15._10-pricing {
    margin-right: 15px;
  }
  .div-block-16 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-18 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-footer {
    text-align: left;
  }
  .navigation-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-blok {
    display: block;
    text-align: center;
  }
  .heading-8 {
    margin-top: 10px;
  }
  .div-block-24 {
    display: none;
  }
  .navbar {
    display: block;
    height: 78px;
  }
  .sticky-nav {
    height: 78px;
  }
  .link-block-10.logo-bottom {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .link-block-11 {
    display: block;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-1-mobile-hor {
    display: block;
    margin-top: 20px;
  }
  .menu-button {
    position: relative;
    float: none;
  }
  .overlaymenu {
    position: fixed;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-linear-gradient(270deg, #2553f7, #2553f7);
    background-image: linear-gradient(180deg, #2553f7, #2553f7);
  }
  .link-block-12 {
    padding: 8px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .navigation-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    padding: 35px 25px 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-18 {
    position: relative;
    padding-right: 1px;
  }
  .linksbottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 47px;
    margin-bottom: 27px;
    margin-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .div-block-25 {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .link-block-14 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-26 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-27 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .div-block-28 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-29 {
    position: fixed;
    height: 80px;
  }
  .subheader {
    position: fixed;
    z-index: 20;
    display: block;
    height: 100px;
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
  }
  .dropheader {
    position: fixed;
    z-index: 9;
    display: block;
    width: 100%;
    height: 54px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-linear-gradient(270deg, #fff, #fff);
    background-image: linear-gradient(180deg, #fff, #fff);
    box-shadow: 0 0 50px -5px rgba(73, 97, 116, .39);
  }
  .droplink {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #496174;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  }
  .div-block-30 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 19px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .image-20 {
    padding-right: 8px;
  }
  .div-block-32 {
    margin-bottom: 0px;
  }
  .fake-button {
    position: absolute;
    top: 22px;
    right: 26px;
    bottom: 0px;
    z-index: 110;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

@media (max-width: 479px) {
  .heading-3 {
    font-size: 24px;
    line-height: 34px;
  }
  .paragraph.subheader {
    padding-right: 25px;
    padding-left: 25px;
  }
  .paragraph.paragraph-middle {
    padding-right: 25px;
    padding-left: 25px;
  }
  .div-block {
    padding-right: 0%;
  }
  .div-block-8 {
    display: block;
    width: auto;
    margin-right: auto;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .header {
    height: auto;
    padding-bottom: 25px;
  }
  .section2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading-5 {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 24px;
    line-height: 34px;
  }
  .feature1 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .heading-6 {
    max-width: 95%;
    font-size: 28px;
    line-height: 36px;
  }
  .navigation {
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .link1 {
    display: block;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    text-align: center;
  }
  .link1.link-last {
    margin-right: 0px;
  }
  .tooltip {
    max-width: 30%;
  }
  .image-7 {
    left: 80px;
  }
  .image-8 {
    margin-left: 0px;
  }
  .image-9 {
    left: 16px;
  }
  .image-10 {
    left: 92px;
  }
  .image-11 {
    left: 98px;
  }
  .link-block-3 {
    display: none;
  }
  .div-block-15 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-15.free-pricing {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-15._10-pricing {
    margin-right: 0px;
  }
  .div-block-16 {
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer {
    height: auto;
    padding-right: 25px;
    padding-left: 25px;
  }
  .text-block-9 {
    display: block;
    text-align: center;
  }
  .bottom-footer {
    margin-top: 30px;
  }
  .tabs {
    padding-right: 15px;
  }
  .tab-link-tab-1 {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tab-link-tab-1.w--current {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .text-block-10 {
    font-size: 20px;
    line-height: 30px;
  }
  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .tab-link-tab-2 {
    width: 100%;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
  }
  .tab-link-tab-2.w--current {
    margin-right: 12px;
    margin-left: 12px;
  }
  .tab-link-tab-3 {
    width: 100%;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
  }
  .tab-link-tab-3.w--current {
    margin-right: 12px;
    margin-left: 12px;
  }
  .heading-8 {
    font-size: 24px;
    line-height: 34px;
  }
  .image15 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .heading-9 {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 24px;
    line-height: 34px;
  }
  .heading-10 {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 24px;
    line-height: 34px;
  }
  .navbar {
    height: 78px;
  }
  .sticky-nav {
    height: 78px;
  }
  .link-block-9.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .link-block-11 {
    margin-right: 30px;
    padding-bottom: 7px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .overlaymenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
  }
  .linksbottom {
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
  }
  .image-19 {
    display: block;
  }
  .cta-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 38px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 19px;
  }
  .link-block-13 {
    margin-top: 30px;
  }
  .dropheader {
    z-index: 9;
  }
  .droplink {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .image-20 {
    padding-right: 8px;
  }
  .fake-button {
    display: none;
  }
}

